.item {
    padding: 4rem;
}

.heading {
    font-size: 24px;
    font-weight: 600;
}

.form {
    padding: 2rem;
    border: 1px solid darkslategray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}